{% extends "base.html" %}
{% block start %}

    <div class="container d-flex justify-content-center align-items-center vh-100">
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary" role="alert">
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            </div>
        {% endfor %}
        {% endif %}
        <div class="card" style="width: 18rem; margin-top: 10vh;">
            <div class="card-body">
                <h5 class="card-title text-center">Profile</h5>
                <p class="card-text">Name: {{ user.first_name }} {{ user.last_name }}</p>
                <p class="card-text">Username: {{user.username }}</p>
                <br>
                <p class="card-text">Balance: {{ user.wallet.balance }}</p>
                <br>
                <form method="post">
                    {% csrf_token %}
                    <label for="amount">Amount:</label>
                    <input type="number" name="amount" required>
                    <button type="submit" class="btn btn-primary">Add Money</button>
                </form>
            </div>
        </div>
    </div>
    <div>
        <h2 class="mt-3">Search Results</h2>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Train Name</th>
                    <th>Journey</th>
                    <th>Time</th>
                    <th>Date</th>
                    <th>Seats</th>
                </tr>
            </thead>
        {% if bookings %}
        {% for booking in bookings %}
                <tr>
                    <td>{{ booking.section.train.name }}</td>
                    <td>{{ booking.section.train.start}} - {{booking.section.train.destination }}</td>
                    <td>{{ booking.section.train.time }}</td>
                    <td>{{ booking.date }}</td>
                    <td>{{ booking.section.name }} - {{ booking.num_seats }}</td>
                </tr>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}
